body{
    background-color: #212428;
}

h1{
    color: white;
}

#tituloportada{
    text-align: center;
}
.navbar{
    background-color: #7209b7;
}
.h5portada{
    text-shadow: 2px 2px #212428;
}
.descripcionportada{
    text-shadow: 2px 2px #212428;
}

.carouselExampleCaptions{
    padding-top:  100px;
}

.navbar-brand{
    padding-left: 2rem;
    color: whitesmoke;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-toggler-icon{
    color: #4cc9f0;
}
|