body{
    background-color: #212428;
}

h1{
    color: white;
}

.h5portada{
    text-shadow: 2px 2px #212428;
}
.descripcionportada{
    text-shadow: 2px 2px #212428;
    background-color: #212428
}
#tituloportada{
    padding-top: 20px;
}
.carouselExampleCaptions{
    padding-top:  100px;
}

.navbar{
    background-color: #7209b7;
}

.navbar-brand{
    padding-left: 2rem;
}