body{
    background-color: #212428;
}

h1{
    color: white;
}

#tituloportada{
    text-align: center;
}
.navbar{
    background-color: #55078a;
}
.h5portada{
    text-shadow: 2px 2px #212428;
}
.descripcionportada{
    text-shadow: 2px 2px #212428;
}

.carouselExampleCaptions{
    padding-top:  100px;
}

.navbar-brand{
    padding-left: 2rem;
    color: whitesmoke;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-toggler-icon{
    color: #4cc9f0;
}

.carousel-item:before{
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.offcanvas-body{
    background-color: #212428;
}

.offcanvas-header{
    background-color: #55078a;
}

#offcanvasNavbarLabel{
    color: #ffffff;
}

#btn-busqueda{
    background-color: #4CC9F0;
    color: white;
    border: none;
}

#btn-busqueda:hover{
    background-color: #12B2E2;
    color: white;
    border: none;
}

.card{
    background-color: #55078a;
    color: aliceblue;
}

.dropend-item{
    background-color: #212428;
}